<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :email, autofocus: true %>
  <%= f.input :username %>
  <%= f.input :is_21, label: 'Are you over 21?' %>

  <%= f.input :password, autocomplete: "off" %>


  <%= f.input :password_confirmation, label: 'Password Confirmation', autocomplete: "off" %>

  <%= f.submit "Sign Up" %>
<% end %>

<%= render "devise/shared/links" %>
