
<br><%=  @brewery.name %>
<br><%=  @brewery.description %>
<br><%=  @brewery.city %>
<br><%=  @brewery.state %>
<br><%=  @brewery.url %>
<br><%=  @brewery.region.name %>
<%= image_tag @brewery.image %>

<ul>
<% @beers.each do |b| %>
  <li> <%= b.name %> </li>
<% end %>
</ul>
