
<h1 class="beerh1"><%= image_tag @brewery.image %><br>
<%=  @brewery.name %></h1>

<br>
<br>
<div class="row">
  <div class="small-12 columns">
      <ul class="beer_show">
<li><%= "Description: #{@brewery.description}" %></li>
<br><br><li>Website: <%=link_to "#{@brewery.url}", @brewery.url %></li>
</ul>


<ul>
<h2> Beer List </h2>
<% @beers.each do |b| %>
  <li> <%=link_to b.name, beer_path(b) %> </li>
<% end %>
</ul>
