<<<<<<< HEAD
<div class="beer_index_page">

<ul> <b>Sort By</b>
  <li>Name</li>
  <li>Average Rating</li>
  <li>Votes</li>
</ul>
<br>

<div>
<ul>
<% @beers.each do |beer| %>
  <li><div class="beer_index_result">

    <%= image_tag beer.image_url(:med_thumb) if beer.image?  %>

    <div class="beer_index_result_text">
      <span><%= link_to beer.name, beer_path(beer) %>,
      <em><%= beer.brewery.name %></em></span><br>

      <span>Average Rating:</span><br>
      <span>ABV: <%= beer.alcohol_content %></span><br>
      <p><%= "#{beer.description[0..40]}..." %></p><br>

    </div>

    <div class="total_votes">
      <span><%= vote_count(beer) %></span>
      <p>Total Votes</p>

      <%= button_to "Upvote", beer_votes_path(beer), params: { vote: 1 }%>
      <%= button_to "Downvote", beer_votes_path(beer), params: { vote: -1 } %>

    </div>
  </div></li>
<% end %>
=======
<h1>Beer List</h1>
<ul>
  <% @beers.each do |beer| %>
    <li>
      <%= image_tag beer.image_url(:thumb) if beer.image?  %>
      <%= link_to beer.name, beer_path(beer) %>
      <%= " #{beer.brewery.name}, #{beer.description}, #{beer.beer_type.name}, #{beer.alcohol_content} | upvotes: #{beer.vote_count}" %>

      <%= button_to "Upvote", beer_votes_path(beer), params: { vote: 1 }%>
      <%= button_to "Downvote", beer_votes_path(beer), params: { vote: -1 } %>
    </li>
  <% end %>
>>>>>>> master
</ul>
</div>

<%= link_to "Add a beer!", new_beer_path %>
<%= paginate @beers %>
</div>
