
<%= link_to "DeleteBeer", admin_beer_path(@beer), method: :delete if current_user.is_admin %>

<br><%=  @beer.name %>
<br><%=  @beer.description %>
<br><%=  @beer.alcohol_content %>
<br><%=  @beer.brewery.name %>
<br><%=  @beer.beer_type.name %>

<ul>
<% @reviews.each do |r| %>
  <li> <%= "#{r.rating} - #{r.title} #{r.description} | #{r.vote_count} other users found this review helpful" %> <%= button_to "this was helpful!", beer_review_votes_path(@beer, r), params: { vote: 1, voteable_type: "Review" } %><%= link_to "DeleteReview", admin_review_path(r), method: :delete if current_user.is_admin %>
  </li>
<% end %>
</ul>

Your Review Here:
<%= simple_form_for [@beer, @new_review] do |f| %>
  <%= f.input :rating, label: "Rating", as: :radio_buttons, item_wrapper_class: "inline", collection: 1..5 %>
  <%= f.input :title, label: "Title" %>
  <%= f.input :description, label: "Review" %>
  <%= f.button :submit %>

<% end %>



