<% if @searched_beers %>
  <h1>Beer List</h1>
  <ul>
  <% @searched_beers.each do |beer| %>
    <li>
      <%= image_tag beer.image_url(:thumb) if beer.image?  %>
      <%= link_to beer.name, beer_path(beer) %>
      <%= " #{beer.brewery.name}, #{beer.description}, #{beer.beer_type.name}, #{beer.alcohol_content} | upvotes: #{vote_count(beer)}" %>
      <%= button_to "Upvote", beer_votes_path(beer), params: { vote: 1 }%>
      <%= button_to "Downvote", beer_votes_path(beer), params: { vote: -1 } %>
    </li>
  <% end %>
  </ul>
  <ul class="pagination" ><%= paginate @searched_beers %>  </ul>
<% else %>
  <h1>Breweries</h1>
  <ul>
    <% @searched_breweries.each do |b| %>
      <li><%= "#{b.name}, #{b.state}, #{b.region.name}" %></li>
    <% end %>
  </ul>
  <ul class="pagination" ><%= paginate @searched_breweries %>  </ul>
<% end %>


