<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="sticky">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "Reviewery", root_path%></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="left">
          <li class="has-dropdown">
            <a href="#">Beer</a>
            <ul class="dropdown">
              <li><%= link_to "View Beer List", beers_path %></li>
              <li><%= link_to "Add a Beer", new_beer_path %></li>
            </ul>
          </li>
          <li><%= link_to "Breweries", breweries_path %></li>
        </ul>
        <!-- Left Nav Section -->
        <ul class="right">
        <li class="has-form">
         <%= form_for :search, url: searches_path, method: :get do |f| %>
          <div class="row collapse">
            <div class="large-8 small-9 columns">
              <%= f.select :search_type, collection: ['Beer', 'Brewery'] %>
              <%= f.text_field :query %>
            </div>
            <div class="large-4 small-3 columns">
              <%= f.submit 'Search', class: 'button' %>
            </div>
          </div>
          <% end %>
        </li>
          <% if user_signed_in? %>
          <li id="signedin"><%= " #{current_user.username}" %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li><%= link_to "Sign In", new_user_session_path %></li>
          <li><%= link_to "Sign Up!", new_user_registration_path %></li>
          <% end %>
        </ul>
      </section>
    </nav>
    </div>

    <div class="row collapse">
      <div class="small-12 small-centered medium-8 medium-centered large-4 large-centered columns">
    <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
